### Fix main2

Fix two locations with null values

In [2]:
import json 

# with open('/home/sante/Documents/FGV/Eclass/Data Visualization/final-project-security-urban-perception-tracking/public/image_safety.json', 'r') as file:
#     data = json.load(file)

# with open('/home/sante/Documents/FGV/Eclass/Data Visualization/final-project-security-urban-perception-tracking/public/image_safety.json', 'r') as file:
#     data = json.load(file)


# len(data)

In [1]:
import pandas as pd

In [48]:
ids = pd.read_excel('ids_listado.xlsx')
ids

     Contador                        ID
0           1  50f5ea5bfdc9f065f0007ab6
1           2  50f5ea5bfdc9f065f0007ab9
2           3  50f5ea5cfdc9f065f0007abf
3           4  50f5ea5cfdc9f065f0007ac5
4           5  50f5ea5dfdc9f065f0007ada
..        ...                       ...
145       146  50f5ec17fdc9f065f0008708
146       147  50f5ec18fdc9f065f0008719
147       148  50f5ec1ffdc9f065f00087a4
148       149  50f5ec37fdc9f065f0008802
149       150  50f5ec40fdc9f065f00088bc

[150 rows x 2 columns]

In [49]:
scores = pd.read_csv("summary_qscores.csv", sep=";")
scores

,image_id,lat,long,city,country,continent,safety,beautiful,wealthy,lively,boring,depressing
0,50e5f7d4d7c3df413b00056a,22.310524,114.170637,Hong Kong,China,Asia,4.135536,1.574074,2.962963,4.199346,5.000000,0.000000
1,50e5f7d4d7c3df413b00056b,22.274799,114.192828,Hong Kong,China,Asia,3.560981,2.229437,5.277778,5.662393,7.777778,3.333333
2,50e5f7d4d7c3df413b00056c,22.291117,114.147373,Hong Kong,China,Asia,4.514946,3.333333,3.333333,4.746693,3.611111,0.000000
3,50e5f7d4d7c3df413b00056d,22.314273,114.177176,Hong Kong,China,Asia,4.852448,3.333333,5.083333,3.333333,8.333333,3.327381
4,50e5f7d4d7c3df413b00056e,22.332412,114.204790,Hong Kong,China,Asia,4.975207,2.129630,3.680556,4.343857,2.500000,4.444444
...,...,...,...,...,...,...,...,...,...,...,...,...
108815,5185d533fdc9f03fd500148e,45.581265,-73.511511,Montreal,Canada,North America,4.797811,3.251984,2.777778,2.148291,7.222222,7.777778
108816,5185d534fdc9f03fd500148f,45.591299,-73.520681,Montreal,Canada,North America,5.006830,6.888889,7.777778,6.176471,5.833333,2.611111
108817,5185d534fdc9f03fd5001490,45.470656,-73.631901,Montreal,Canada,North America,4.551622,3.333333,5.000000,5.008547,3.611111,2.962963
108818,5185d536fdc9f03fd5001491,45.626787,-73.547511,Montreal,Canada,North America,4.666846,2.833333,3.333333,4.376984,3.666667,5.777778
108819,50f6086ebeb2fed6f8000489,45.611012,-122.672137,Portland,USA,North America,0.000000,2.500000,7.500000,3.333333,7.930556,5.555556

In [50]:
merged_df = ids.merge(scores, left_on="ID", right_on="image_id", how="left")
merged_df = merged_df[['ID', 'lat', 'long', 'safety']]
merged_df.to_csv('merged_data1.csv', index=False)

#### First location (Image 56.jpg) with null

In [51]:
resultado = scores.loc[scores["image_id"] == "50f5eaf0fdc9f065f0007e7e"]
print(resultado)

Empty DataFrame
Columns: [image_id, lat, long, city, country, continent, safety, beautiful, wealthy, lively, boring, depressing]
Index: []

#### Second location (Image 117.jpg) with null

In [52]:
resultado = scores.loc[scores["image_id"] == "50f5eb66fdc9f065f000828e"]
print(resultado)

Empty DataFrame
Columns: [image_id, lat, long, city, country, continent, safety, beautiful, wealthy, lively, boring, depressing]
Index: []

#### Dataframe fixed

In [53]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      150 non-null    object
 1   lat     148 non-null    float64
 2   long    148 non-null    float64
 3   safety  148 non-null    float64
dtypes: float64(3), object(1)
memory usage: 4.8+ KB

#### Hand searching of First Location (Image 56.jpg)
URL: https://www.google.com/maps/place/I.A.P.C+de+Olaria/@-22.8428493,-43.2787135,15z/data=!4m10!1m2!2m1!1sinstituto+de+aposentadorias+IAPC+olaria!3m6!1s0x997bc8fa12c6c3:0xf7e52e4265a3c017!8m2!3d-22.8428493!4d-43.2596591!15sCidpbnN0aXR1dG8gZGUgYXBvc2VudGFkb3JpYXMgSUFQQyBvbGFyaWFaKSInaW5zdGl0dXRvIGRlIGFwb3NlbnRhZG9yaWFzIGlhcGMgb2xhcmlhkgEPaG91c2luZ19jb21wbGV4mgEkQ2hkRFNVaE5NRzluUzBWSlEwRm5UVVJ2YUdWbFpXZDNSUkFCqgF2EAEqJCIgaW5zdGl0dXRvIGRlIGFwb3NlbnRhZG9yaWFzIGlhcGMoDDIfEAEiG1O4ioXuz-64xRl7IguEePwuqFXFqL9gMbbeuzIrEAIiJ2luc3RpdHV0byBkZSBhcG9zZW50YWRvcmlhcyBpYXBjIG9sYXJpYeABAPoBBAgAEBg!16s%2Fg%2F11kjp8_cxb?entry=ttu&g_ep=EgoyMDI1MDYwMS4wIKXMDSoASAFQAw%3D%3D

Location: IAPC de Olaria (referencial)
Address: R. André Azevedo, 87 - Olaria, Rio de Janeiro - RJ, 21021-480 (referencial)

lat = -22.8428493

long = -43,2787135

safety = null (0)

#### Hand searching of Second Location (Image 117) 
URL: https://www.google.com/maps/@-22.8314584,-43.3363337,3a,90y,233.37h,87.73t/data=!3m7!1e1!3m5!1sSl_QC7ythSyNYDJIudzM7Q!2e0!6shttps:%2F%2Fstreetviewpixels-pa.googleapis.com%2Fv1%2Fthumbnail%3Fcb_client%3Dmaps_sv.tactile%26w%3D900%26h%3D600%26pitch%3D2.272323273432562%26panoid%3DSl_QC7ythSyNYDJIudzM7Q%26yaw%3D233.3747693883049!7i13312!8i6656?entry=ttu&g_ep=EgoyMDI1MDYwMS4wIKXMDSoASAFQAw%3D%3D

Location: CEASA Rio (aproximado)

lat = -22.8314584

long = -43.336337

safety = null (0)

### Updating values

In [54]:
merged_df

                           ID        lat       long    safety
0    50f5ea5bfdc9f065f0007ab6 -22.804526 -43.430537  3.333333
1    50f5ea5bfdc9f065f0007ab9 -22.884228 -43.434583  3.333333
2    50f5ea5cfdc9f065f0007abf -22.900959 -43.243078  2.399423
3    50f5ea5cfdc9f065f0007ac5 -22.913764 -43.239547  6.111111
4    50f5ea5dfdc9f065f0007ada -22.966093 -43.178542  4.997192
..                        ...        ...        ...       ...
145  50f5ec17fdc9f065f0008708 -22.777602 -43.376038  4.131952
146  50f5ec18fdc9f065f0008719 -22.786227 -43.292788  2.728423
147  50f5ec1ffdc9f065f00087a4 -22.798615 -43.424366  4.867307
148  50f5ec37fdc9f065f0008802 -22.901311 -43.178794  3.333333
149  50f5ec40fdc9f065f00088bc -22.783857 -43.395156  3.333333

[150 rows x 4 columns]

In [25]:
merged_df.iloc[56]

ID        50f5eaf0fdc9f065f0007e7e
lat                            NaN
long                           NaN
safety                         NaN
Name: 56, dtype: object

In [46]:
merged_df.iloc[117]

ID        50f5eb66fdc9f065f000828e
lat                            NaN
long                           NaN
safety                         NaN
Name: 117, dtype: object

In [55]:
#merged_df1 = merged_df.copy() 
merged_df.loc[56, ['lat', 'long', 'safety']] = [-22.8428493, -43.2787135, 0]
merged_df.loc[117, ['lat', 'long', 'safety']] = [-22.8314584, -43.336337, 0]

In [56]:
merged_df.iloc[56]
#print(merged_df.iloc[117])

ID        50f5eaf0fdc9f065f0007e7e
lat                     -22.842849
long                    -43.278714
safety                         0.0
Name: 56, dtype: object

In [57]:
# merged_df1 = merged_df.copy() 
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      150 non-null    object
 1   lat     150 non-null    float64
 2   long    150 non-null    float64
 3   safety  150 non-null    float64
dtypes: float64(3), object(1)
memory usage: 4.8+ KB

In [58]:
merged_df.iloc[56]

ID        50f5eaf0fdc9f065f0007e7e
lat                     -22.842849
long                    -43.278714
safety                         0.0
Name: 56, dtype: object

In [59]:
merged_df.to_json("image_safety3.json", orient="records", indent=2)